* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 800px; */
  padding: 0 80px;
  align-content: flex-start;
}

.cnt-1 {
  background-color: #1f2937;
  color: #fff;
  padding-left: 100px;
  padding-right: 100px;
}

.cnt-1-1 {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;

  font-size: 8px;
  margin-bottom: 80px;
}

.links-cnt {
  display: flex;
  gap: 25px;
}

a {
  color: rgb(190, 190, 190);
  text-decoration: none;

  font-size: 10px;
}

.cnt-1-2 {
  display: flex;
  padding-bottom: 80px;
  justify-content: space-between;
}

.odn-img {
  height: 230px;
  width: 450px;
  border-radius: 4px;
}

.main-cntnt {
  width: 500px;
}

.btn-1 {
  margin-top: 25px;
}

.signup-msg {
  display: inline;
}

.sign-up {
  background-color: rgb(79, 128, 238);
  color: #fff;
  padding: 10px 20px;

  border: none;
  border-radius: 4px;
}
.cnt-2 {
  background-color: rgb(255, 255, 255);

  color: #fff;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.img-cnt {
  display: flex;
  justify-content: center;
}

.header-two {
  font-size: 36px;
  color: rgb(33, 33, 33);
  display: flex;
  justify-content: center;
}

.sq {
  display: flex;
}

.squares {
  border-radius: 4px;
  border: 1px solid blue;
  background-color: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  align-self: auto;
}

.cnt-3 {
  height: 400px;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial {
  display: flex;

  /* color: #1f2937; */
  /* color: #1f2 */

  width: 50%;
  height: auto;
  /* justify-content: center; */
  /* color: #e53; */
  flex: 0 0 auto;
}

.testimonial-quote {
  font-size: 36px;
  font-weight: 200px;
  font-style: italic;
  color: #1f2937;
  /* flex: 0 2 auto; */
}

.cnt-4 {
  display: flex;
  justify-content: center;
}

.p-1 {
  display: flex;
  flex-direction: column;
}

.blue-btn {
  background-color: rgb(79, 128, 238);
  border-radius: 4px;
  margin: 80px 10px;
  color: rgb(255, 255, 255);
  padding: 10px 10px;
  width: 700px;
}

.bt {
  border: 1px solid white;
  display: inline-flex;
}
.cnt-5 {
  display: flex;
  justify-content: center;
}

footer {
  background-color: #1f2937;
  color: #fff;
  padding-left: 100px;
  padding-right: 100px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  /* align-content: center; */
  height: 100px;
  align-items: center;
  font-size: 12px;
}
